    $accent: #2196f3;
    $main-font-color: #212121;
    $additional-font-color: #757575;
    $white-color: #FFFFFF;
    $black-color: #000000;
    $address-color: rgba(255, 255, 255, 0.6);
    $hero-background: #C4C4C4;
    $third-section-and-portfoliobtn-background: #F5F4FA;
    $footer-background: #2F303A;
    $header-border: #ECECEC;
    $portfolio-border-list: #EEEEEE;
    $btn-active: #188CE8;
    $client-group-color: #AFB1B8;