.hero-section {
    max-width: 1600px;

    padding-top: 200px;
    padding-bottom: 200px;

    text-align: center;

    color: var(--white-color);

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/bcg-hero.jpg');
    background-color: var(--hero-background);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-section__title {
    max-width: 696px;

    margin-top: 0;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    letter-spacing: 0.06em;
}