.portfolio-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio-container {
    @extend %container;
}

.portfolio-section__filtr-list {
    @extend %list;

    @include centered ($vertical:null);

    margin-bottom: 50px;
    
        &:first-child {
            padding: 6px 25px;
        }
}

.portfolio-section__filtr-item {
    padding-right: 8px;
}

.portfolio-section__filtr-button {
    background-color: $third-section-and-portfoliobtn-background;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    cursor: pointer;
    padding: 6px 22px;
    border-radius: 4px;
    border: 0;

    @include transition (background-color);
    @include transition (color);
    
        &:hover,
        &:focus {
            background-color: $accent;
            color: $white-color;
        }
}

.portfolio-section__examples-list {
    @extend %list;

    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-section__examples-link {
    @extend %link;

    display: block;

    @include transition (box-shadow);

        &:hover,
        &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }
}

.portfolio-section__image-group {
    position: relative;
    overflow: hidden;
}

.portfolio-section__image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(101%);

    width: 100%;
    height: 294px;

    margin: 0;
    padding-top: 63px;
    padding-right: 24px;
    padding-bottom: 63px;
    padding-left: 24px;

    font-size: 18px;
    line-height: 1.55;

    color: $white-color;
    background-color: rgba(33, 150, 243, 0.9);

    opacity: 0;

    @include transition (transform);

        .portfolio-section__examples-item:hover & {
            opacity: 1;
    
            transform: translateY(0);
        }
}

.portfolio-section__subtitle-group {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
    border-right: 1px solid $portfolio-border-list;
    border-bottom: 1px solid $portfolio-border-list;
    border-left: 1px solid $portfolio-border-list;
}

.portfolio-section__subtitle-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-top: 0;
    margin-bottom: 4px;
}

.portfolio-section__subtitle-text {
    color: $additional-font-color;
    font-size: 16px;
    line-height: 1.87;
    margin: 0;
}