.address__list {
    @extend %list;
}

.address__item {
    display: block;
    margin-bottom: 9px;

        &:nth-last-child(1) {
            margin-bottom: 0;
        }
}

.address__street-link {
    @extend %link;

    display: block;

    margin-top: 20px;

    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
    color: $white-color;
}

.address__address-link {
    @extend %link;
    
    color: $address-color;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;

    @include transition (color);
    
        &:hover,
        &:focus {
            color: $white-color;
        }
}

