.footer-socials {
    margin-left: 70px;
    margin-right: 93px;
}

.footer-socials__title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    color: $white-color;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.footer-socials__list {
    @extend %list; 

    @include centered ();

    gap: 10px;
}

.footer-socials__item {
    @include centered ();
}

.footer-socials__link {
    @extend %link;
    
    width: 44px;
    height: 44px;

    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    color: $white-color;

    @include centered ();

    @include transition (background-color);
    @include transition (border-radius);
    @include transition (color);

        &:hover,
        &:focus {
            background-color: $accent;
            border-radius: 50%;
            color: $white-color;
        }
}

.footer-socials__icon {
    width: 20px;
    height: 20px;

    fill: $white-color;

    @include transition (fill);
    
        .footer-socials__link:hover & {
            fill: $white-color;
        }
}