.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: $footer-background;
}

.footer__container {
    @extend %container;

    @include centered ($vertical:baseline, $horizontal: null);
}