.header {
    height: 80px;

    border-bottom: 1px solid #ECECEC;
}

.header__container {
    @extend %container;

    @include centered ($horizontal:null);
}

.navigation {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
}

.navigation__list {
    @extend %list;

    display: flex;
}

.navigation__link {
    @extend %link;

    @include centered ($horizontal:null);

    padding-top: 32px;
    padding-bottom: 32px;

    @include transition (color); 

        &:hover,
        &:focus {
            color: $accent;
        }
}

.navigation__item+.navigation__item {
    margin-left: 50px;
}

.navigation__link--current {
    position: relative;

    color: $accent;

        &::after {
            content: '';
    
            position: absolute;
            left: 0;
            bottom: 0;
    
            width: 100%;
            height: 4px;
    
            background-color: $accent;
            border-radius: 2px;
        }
}

.header-contact {
    @extend %list;

    @include centered ($horizontal:null);

    margin-left: auto;
}

.header-contact__item {
    @include centered ($horizontal:null);
    gap: 10px;
}

.header-contact__item+.header-contact__item {
    margin-left: 50px;
}

.header-contact__link {
    @extend %link;

    @include centered($horizontal:null);

    color: $additional-font-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;

    @include transition (color);

        &:hover,
        &:focus {
            color: $accent;
        }
}

.header-contact__icon {
    fill: $additional-font-color;
    margin-right: 10px;

    @include transition (fill);

        .header-contact__link:hover &,
        .header-contact__link:focus & {
            fill: $accent;

            @include transition (fill);
        }
}

