@mixin centered ($flex: flex, $vertical: center, $horizontal: center) {
    display: $flex;
    align-items: $vertical;
    justify-content: $horizontal;
}

@mixin transition ($property) {
        transition-property: $property;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    }